# Xcode
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.hmap

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# CocoaPods (not used, but ignore if ever introduced)
Pods/

# Firebase / secrets
GoogleService-Info.plist

# macOS
.DS_Store

# Fastlane (future CI/CD)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
